/** Для тестування 
* @author Rallo Sergey
* @DateСreate 2022.03.30
* @DateLastEdit 2022.03.30
*/

div.first {
  border: 1px solid red;
  margin: 50px;
}

div.first div {
  margin: inherit;
  border: inherit;
}

div > ul > li {
  border: 1px solid red;
}

.div {
  border: 1px solid red;
}
.div-first {
  margin-bottom: 5px;
}
.div-second {
  margin: 15px;
}
